.clients {
    &__item {
        @include flex-col();
        align-items: center;
        justify-content: center;

        padding: 3rem;

        background-color: $col_white;
        box-shadow: $box-shadow_base;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}