.contacts {
    &__list {
        position: relative;
        z-index: 100;
    }

    &__item {
        position: relative;

        padding-left: 5rem;

        &::before {
            position: absolute;
            top: 0;
            left: 0;

            content: '';

            width: 3rem;
            height: 3rem;

            background-repeat: no-repeat;
        }

        &--name {
            &::before {
                background-image: url("../assets/case.svg");
            }           
        }

        &--phone {
            &::before {
                background-image: url("../assets/phone.svg");
            }
        }
            
        &--address {
            &::before {
                background-image: url("../assets/location.svg");
            }            
        }

        &--partnership {
            &::before {
                background-image: url("../assets/message.svg");
            }           
        }

        &-link {
            display: block;
            font-size: 1.6rem;
            line-height: 2.7rem;
        
            margin-bottom: 3rem;
    
            color: $col_grey;
        }
    }
}