/* stylelint-disable */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  color: $col_base;
  font-size: 16px;
  line-height: 19px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $reg, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-link {
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  padding: 2rem 3rem;
  width: fit-content;
  min-width: 4rem;
  min-height: 4rem;

  border-radius: 1rem;
  color: #fff;
  background-color: $col_black;

  &--white {
    border: 1px solid $col_black;
    color: $col_black;
    background-color: transparent;
  }

  &--small {
    padding: 1rem 2rem;
  }

  @media(max-width: $desktop) {
    padding: 1.5rem;
  }

  transition: opacity $transition_rules;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.main-btn {
  font-family: $med;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: center;
  padding: 1.5rem;
  text-align: center;
  width: fit-content;
  min-width: 4rem;
  min-height: 4rem;
  border: 0;

  cursor: pointer;

  border-radius: 1rem;
  color: #fff;
  background-color: $col_black;

  @media(max-width: $sm-tablet) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.error-msg {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 1.5rem;
  color: maroon;

  &--hidden {
    display: none;
  }
}
