.quiz-form {
    
    &__content {
        @include flex-col();
        align-items: center;

        width: 50%;
        margin: 0 auto;

        background-color: $col_white;
        @include common_padding();

        box-shadow: $box-shadow_base;

        background-image: url("../assets/quiz.svg");
        background-repeat: no-repeat;
        background-size: cover;

        @media(max-width: $sm-tablet) {
            width: 100%;
        }
    }

    &__title,
    &__text {
        text-align: center;
    }

    label {
        margin-bottom: 3rem;
    }

    input {
        font-family: $reg;
        font-size: 1.6rem;
        line-height: 2.7rem;
        
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        border: 1px solid #AFCDFB;

        color: $col_grey;
    }

    input::placeholder {
        font-family: $reg;
        font-size: 1.6rem;
        line-height: 2.7rem;
        color: $col_grey;
    }

    &__btn {
        padding: 1rem;
    }

    &__accept-label {
        display: block;
        position: relative;
        padding-left: 3rem;
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: $col_grey;

        cursor: pointer;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            content: '';

            width: 1.6rem;
            height: 1.6rem;

            border: 1px solid $col_grey;
            border-radius: 4px;
        }

        transition: opacity $transition_rules;

        &:focus,
        &:hover {
            opacity: 0.8;
        }
    }

    &__accept-checkbox:checked + &__accept-label::before {
        border: 1px solid $col_blue;
        background-color: $col_blue;
        background-image: url("../assets/check.svg");
        background-size: 100%;
    }
}